<div id="container">


	<% @products.each do |product| %>

	<div class="box">
		<img class="box-image" src="<%= product.url %>"/>
		
		<%= display_name_id(product) %>
		<%= display_edit_link(product) %>
		<%= display_delete_link(product) %>

	</div>



	<%end%>






	<% if cookies[:email].present? %>
	<%= link_to "Log Out", log_out_path, method: 'post' %>
	<%else%>
	<%= link_to "Log In", log_in_path, method: 'get' %>
	<%end%>

</div> 





