<div id="container">


	<% @products.each do |product| %>

	<!-- All Each Row just shows up now! -->
	<div class="box">
		<img class="box-image" src="<%= product.url %>"/>
		<a class="box-text" href=#><%=product.name%></a>
		<div class="box-text"><%= link_to "Edit", edit_product_path(product)%></div>
		<div class="box-text"><%= link_to "Delete", product, :method => :delete%></div>

	</div>



	<%end%>






	<% if cookies[:email].present? %>
		<%= link_to "Log Out", log_out_path, method: 'post' %>
	<%else%>
		<%= link_to "Log In", log_in_path, method: 'get' %>
	<%end%>

</div> 





