<!DOCTYPE html>
<html>
<head>
  <title>Betastore</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <img class="banner" src="http://whatweekly.com/wp-content/uploads/2012/08/betamorelogo.jpg"/>
  <nav> 
    <% if cookies[:email].present? %>
    <%= link_to "Log Out", log_out_path, method: 'post' %>
    <%else%>
    <%= link_to "Log In", log_in_path, method: 'get' %>
    <%end%>
  </nav>

  <%= yield %>

</body>
</html>
